components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    RoleResponse:
      properties:
        description:
          title: Description
          type: string
        id:
          title: Id
          type: integer
      required:
      - id
      - description
      title: RoleResponse
      type: object
    UserCreate:
      properties:
        email:
          format: email
          title: Email
          type: string
        name:
          title: Name
          type: string
        password:
          anyOf:
          - type: string
          - type: 'null'
          title: Password
        role_id:
          title: Role Id
          type: integer
      required:
      - name
      - email
      - role_id
      title: UserCreate
      type: object
    UserResponse:
      properties:
        email:
          title: Email
          type: string
        id:
          title: Id
          type: integer
        name:
          title: Name
          type: string
        role:
          $ref: '#/components/schemas/RoleResponse'
      required:
      - id
      - name
      - email
      - role
      title: UserResponse
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
info:
  description: API para gestão de Usuários e Roles
  title: API de Controle de Acesso
  version: 1.0.0
openapi: 3.1.0
paths:
  /roles/{role_id}:
    get:
      operationId: get_role_roles__role_id__get
      parameters:
      - in: path
        name: role_id
        required: true
        schema:
          title: Role Id
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Role
  /users/:
    post:
      operationId: create_user_users__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create User
  /users/{user_id}/role:
    get:
      operationId: get_user_role_users__user_id__role_get
      parameters:
      - in: path
        name: user_id
        required: true
        schema:
          title: User Id
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get User Role
